# Built In Functions

#### print() Function

In [37]:
Name1 = "Saksham Singh Rathore"
age = 19
print("Name:", Name1, "Age:", age)

Name: Saksham Singh Rathore Age: 19

In [38]:
Name2 = "Bob"
age = 15
print(f"Name:{Name2},Age:{age}")

Name:Bob,Age:15

In [39]:
print("a", "b", "c", sep=",", end=" ")
print("d", "e", "f", sep="-")

a,b,c d-e-f

In [40]:
with open("output.txt", "w") as f:
    print(f"Hello, world! My name is {Name1}", file=f)

In [41]:
name = "Python Programming"
age = 25
gpa = 8.976
print(f"Name: {name}")
print(f"Age: {age}")
print(f"GPA: {gpa:.2f}")  # Print GPA with two decimal places

print("=" * 20)  # Print a seperator line

course_name = "Introduction to Python"
course_code = "DA108"
print(f"{course_name}:{course_code}", end="\n")
print("(Credits:8)")

Name: Python Programming
Age: 25
GPA: 8.98
====================
Introduction to Python:DA108
(Credits:8)

#### len() Function

In [42]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # Output:5

5

In [43]:
my_string = "Hello, world!"
print(len(my_string))  # Output:13

13

#### range() function

In [46]:
for i in range(5):
    print(i)

    """
    Output
    0
    1
    2
    3
    4
    """

0
1
2
3
4

#### sorted() function

In [47]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 1, 2, 3, 4, 5, 6, 9]

#### max() , min() function

In [49]:
numbers = [10, 20, 5, 15]
print(max(numbers))  # Output:20
print(min(numbers))  # Output:5

20
5

#### float() function

In [51]:
x=5
y=float(x)
print(y) # Output:5.0

5.0